/*CSS is used to change the way a web page looks by creating styles and applying
them to specific elements of the page.

We can make a style for a specific tag. This style will then be applied to every
instance of the tag on the page*/
h1 {
    color: red;
    font-size: 100px;
}

/*or we can create a style that applies to a specific set of elements via classes*/
.text-paragraph {
    font-size: 30px;
}

/*or, we can create a special style for a specific tag using it's id as a selector*/
#very-important-paragraph {
    color: red;
}
/*If you look at the html page, you can notice that if various styles can be applied to
an element (ie it has a class and an id for which styles are specified) the styles are
merged together*/

.colorful-text-paragraph {
    background-color: darkcyan;

}